<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25566270714-mh568gmndmj4lolp6q06v386g6vrhb5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25566270714-mh568gmndmj4lolp6q06v386g6vrhb5n</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ_Z3Gix5DjnOierbeYPPaitk1SaDTKVI</string>
	<key>GCM_SENDER_ID</key>
	<string>25566270714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wardrobeHelper</string>
	<key>PROJECT_ID</key>
	<string>closetmate-f0605</string>
	<key>STORAGE_BUCKET</key>
	<string>closetmate-f0605.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25566270714:ios:f0befe08788fcfdddd6543</string>
</dict>
</plist>